<form action="/process_roll">
  
  <label for="alice">How many dice?</label>
  <input id="alice" type="text" name="dice">

  <label for="bob">How many sides?</label>
  <input id="bob" type="text" name="sides">


  <button>Go</button>
</form>
